<form class='form-horizontal'>
	<div class='form-group'>
		<p ng-bind='error' class='error'></p>
	</div>
	<div class='form-group'>
		<label for='fname'>First name:</label>
		<input class='form-control' name='fname' type='text' ng-model='fname'>
	</div>
	<div class='form-group'>
		<label for='lname'>Last name:</label>
		<input class='form-control' name='lname' type='text' ng-model='lname'>
	</div>
	<div class='form-group'>
		<label for='email'>Email:</label>
		<input class='form-control' name='email' type='email' ng-model='email'>
	</div>
	<div class='form-group'>
		<label for='password'>Password:</label>
		<input class='form-control' name='password' type='password' ng-model='password'>
	</div>
	<div class='form-group'>
		<label for='confirm-pass'>Confirm Password:</label>
		<input class='form-control' name='confirm-pass' type='password' ng-model='confrim-pass'>
	</div>

</form>
