<div id='wrapper' class=''>
		<div id='navbar' class='pure-menu pure-menu-horizontal pure-menu-scrollable pure-g'>
			<h3 class='pure-u-1-4'><a href='#' id='logo' class='cursive'>Nectar</a></h3>
			<ul class='pure-menu-list pure-u-1-2' >
				<li class='pure-menu-item'><a href='#' class='pure-menu-link'>What's Growing</a></li>
				<li class='pure-menu-item'><a href='#' class='pure-menu-link'>How It Works</a></li>
				<li class='pure-menu-item'><a href='#' class='pure-menu-link'>Pricing</a></li>
				<li class='pure-menu-item'><a href='#' class='pure-menu-link'>Contact</a></li>
				<li class='pure-menu-item'><a href='#/register' class='pure-button btn-custom'>Get Started</a></li>
			</ul>
			<form class="pure-form pure-u-2-12" ng-submit="login(returningUser)">
  				<div class="form-group">
				    <label for="email"></label>
				    <input type="email" class="form-control input-sm" id="email" ng-model='returningUser.email' placeholder="Email">
  				</div>
  				<div class="form-group">
				    <label for="exampleInputPassword3"></label>
				    <input type="password" ng-model='returningUser.password' class="form-control input-sm" id="exampleInputPassword3" placeholder="Password">
  				</div>
  				<button type="submit" class="pure-button pure-button primary">Sign in</button>
			</form>
		</div>
<div>
	<form>
	<p>
		<label>First Name</label>
		<input type="text" ng-model="newUser.first_name">
	</p>
	<p>{{regisErrors.first_name.message}}</p>
	<p>
		<label>Last Name</label>
		<input type="text" ng-model="newUser.last_name">
	</p>
	<p>{{regisErrors.last_name.message}}</p>
	<p>
		<label>Email</label>
		<input type="email" ng-model="newUser.email">
	</p>
	<p>{{regisErrors.email.message}}</p>
	<p>
		<label>Password</label>
		<input type="password" ng-model="newUser.password">
	</p>
	<p>{{regisErrors.password.message}}</p>
	<p>
		<input type="submit" value="Register" ng-click="create(newUser)">
	</p>
	</form>
</div>